#navbar{ /* top preto*/
    height: 320px;
}
#navbar-container{
    flex-direction: column;
    padding: 20px 0;
}
#navbar-items{
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2){
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#showcase-container{
    padding: 40px;
  
    

}
#showcase-container img{
    width: 250px;
    height: 90px;
    opacity: 85%; /*opacidade*/
    
}
.image-logo{
    position: relative;
    right:0;
    top: 0;
}
#showcase{
   
    height: 99vh; /*100vh vai opar 100% da visao da pessoa*/
    display:flex;
    justify-content: center;
    align-items: center;
    color:#eee;
    background: url(/img/poke2.jpg)no-repeat center center/cover;/*iamgem nao se repedir, e tentar se manter no container*/
    /*deixar pagina pouco mais preta*/
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
    z-index: 1;
    

}  
/* video */
/* tratamento do video */
#showcase-video{
    width: 100%;
    height: 100%;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcase-video video{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
width: 125%;

}

/* segunda parte */

#clients-container{
    
    grid-template-columns: repeat(2,1fr);
    width: 60%;
    margin: auto;
    
  
}

.client{
    width: 50%;

}

/* terceita parte */
#features-container{
    grid-template-columns: 1fr;

}

#features-container .feature:nth-child(2){
    margin: 15px 0;
}

/* querta parte da estrutura */
#product-container{
    flex-direction: column;
}
#items{
    width: 90%;
}

.item{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* quinta parte */

.testimoniial{
    flex-direction: column;
    text-align: center;
}

/* galeria */
#gallery-container{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.gallery-image{
    width: 90%; /*ocupar todo o espaco do seu container*/
    width: 200px;
    height: 100px;
    
}


